/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App {
  display: flex;
  padding: 20px;
  flex-direction: column;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ageGroupPriceList {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  justify-content: space-around;
}

.title {
  margin-bottom: 10px;
  color: grey;
}

.inputContainer {
  display: flex;
  border: none;
  background-color: #dddddd;
  border-radius: 5px;
}

.exchange {
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  padding: 2px 5px;
}

.message {
  display: flex;
  justify-content: end;
}

.textfield {
  display: flex;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.spacing {
  display: flex;
  padding: 5px;
  align-items: center;
}

